# 1. Combine your token ID and token together as follows
arToken="252200,8885d0aeefef63dea61021e843516acc"

# 2. Place each domain you want to check as follows
# you can have multiple arDdnsCheck blocks
arDdnsCheck "test.org" "subdomain"
